html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*====================Home Page====================*/

/*==========Navbar==========*/
.hm_nb_1 {
    background-color: black;
    border-bottom: 1px solid white;
}

/*Technova logo*/
.hm_nb_1_tn {
    gap: 10px;
}

/*search input*/
.hm_nb_1_sr{
    background: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid white;
}

.hm_nb_1_sr:focus {
    background: transparent;
    box-shadow: none;
}

.hm_nb_2 {
    background-color: black;
    min-height: 70px;
}

/*Nav Link List*/
.hm_nb_2_list {
    gap: 20px;
}

/*Nav Links*/
.hm_nb_2_links {
    transition: all 1000ms ease;
}

.hm_nb_2_links:hover {
    border-bottom: 1px solid white;
}

/*==========Navbar End==========*/

/*==========Header==========*/
.hm_hd {
    display: grid;
    place-items: center;
    height: 14rem;
    background-image: url("../assets/images/hm_hd_bg.jpg");
    background-position: center;
}

.hm_hd h3 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
/*==========Header End==========*/
.hm_sect_1 {
}

.hm_sect_1_content {
    width: 60vw;
}

.hm_sect_1_content p {
    text-align: justify;
}

.hm_sect_1_content p::selection {
    color: white;
    background-color: black;
}

/*==========Section 1==========*/
/*==========Section 1 End==========*/

/*==================Footer==================*/

footer {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(31, 31, 31, 0.6)), url("../assets/images/footer_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ft_main {

}

.ft_main_lists ul li a{
    text-decoration: none;
}

.sticky-bottom{
    margin-top: auto;
}

.ft_icons {
    border: 2px solid white;
    border-radius: 100%;
    padding: 8px;
    transition: all 0.4s ease;
}

.ft_icons:hover {
    color: black;
    background: white;
}
/*==================Footer End==================*/


/*====================Home Page End====================*/

/*====================About Page====================*/

.ab_sect_2 {
    background-color: #fdf8f1;
}

.spacer {
    aspect-ratio: 1920/100;
    /*width: 100vw;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mid-layer {
    background-image: url(../assets/ab_spacer.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab_map{
    width: 60vw;
}

/*====================About Page End====================*/